In [2]:
import pandas as pd

### Mobile Dataset

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("abdulmalik1518/mobiles-dataset-2025")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/abdulmalik1518/mobiles-dataset-2025?dataset_version_number=1...

100%|██████████| 19.8k/19.8k [00:00<00:00, 6.50MB/s]

Extracting files...
Path to dataset files: /home/alessio/.cache/kagglehub/datasets/abdulmalik1518/mobiles-dataset-2025/versions/1

#### EDA

In [3]:
df = pd.read_csv("./Mobiles Dataset (2025).csv", encoding="ISO-8859-1")

In [9]:
df.columns

Index(['Company Name', 'Model Name', 'Mobile Weight', 'RAM', 'Front Camera',
       'Back Camera', 'Processor', 'Battery Capacity', 'Screen Size',
       'Launched Price (Pakistan)', 'Launched Price (India)',
       'Launched Price (China)', 'Launched Price (USA)',
       'Launched Price (Dubai)', 'Launched Year'],
      dtype='object')

In [4]:
df.head()

,Company Name,Model Name,Mobile Weight,RAM,Front Camera,Back Camera,Processor,Battery Capacity,Screen Size,Launched Price (Pakistan),Launched Price (India),Launched Price (China),Launched Price (USA),Launched Price (Dubai),Launched Year
0,Apple,iPhone 16 128GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 224,999","INR 79,999","CNY 5,799",USD 799,"AED 2,799",2024
1,Apple,iPhone 16 256GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 234,999","INR 84,999","CNY 6,099",USD 849,"AED 2,999",2024
2,Apple,iPhone 16 512GB,174g,6GB,12MP,48MP,A17 Bionic,"3,600mAh",6.1 inches,"PKR 244,999","INR 89,999","CNY 6,499",USD 899,"AED 3,199",2024
3,Apple,iPhone 16 Plus 128GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 249,999","INR 89,999","CNY 6,199",USD 899,"AED 3,199",2024
4,Apple,iPhone 16 Plus 256GB,203g,6GB,12MP,48MP,A17 Bionic,"4,200mAh",6.7 inches,"PKR 259,999","INR 94,999","CNY 6,499",USD 949,"AED 3,399",2024

In [13]:
len(df)

930

### Popular Games Steam 1980-2023

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arnabchaki/popular-video-games-1980-2023")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/arnabchaki/popular-video-games-1980-2023?dataset_version_number=1...

100%|██████████| 1.11M/1.11M [00:00<00:00, 1.43MB/s]

Extracting files...

Path to dataset files: /home/alessio/.cache/kagglehub/datasets/arnabchaki/popular-video-games-1980-2023/versions/1

In [3]:
import pandas as pd

df_games = pd.read_csv('games.csv', nrows = 10000)

In [5]:
df_games.columns

Index(['Unnamed: 0', 'Title', 'Release Date', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

In [7]:
df_games.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

### Food Dataset
https://world.openfoodfacts.org/data

In [ ]:
import pandas as pd

df_food = pd.read_csv("en.openfoodfacts.org.products.csv", sep="\t", usecols=["code"])

In [10]:
df_food.head()

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,last_modified_by,last_updated_t,last_updated_datetime,...,glycemic-index_100g,water-hardness_100g,choline_100g,phylloquinone_100g,beta-glucan_100g,inositol_100g,carnitine_100g,sulphate_100g,nitrate_100g,acidity_100g
0,54,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1582569031,2020-02-24T18:30:31Z,1733085204,2024-12-01T20:33:24Z,NaN,1740205422,2025-02-22T06:23:42Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1673620307,2023-01-13T14:31:47Z,1739902555,2025-02-18T18:15:55Z,waistline-app,1740360377,2025-02-24T01:26:17Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,114,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1580066482,2020-01-26T19:21:22Z,1737247862,2025-01-19T00:51:02Z,smoothie-app,1740075018,2025-02-20T18:10:18Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,http://world-en.openfoodfacts.org/product/0000...,inf,1634745456,2021-10-20T15:57:36Z,1742247341,2025-03-17T21:35:41Z,roboto-app,1742247341,2025-03-17T21:35:41Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,105,http://world-en.openfoodfacts.org/product/0000...,kiliweb,1572117743,2019-10-26T19:22:23Z,1738073570,2025-01-28T14:12:50Z,NaN,1740085032,2025-02-20T20:57:12Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>Come è possibile vedere, molti nutritional facts sono mancanti. </h3>
<h3>Nonostante ciò, i <b>nutritional facts</b> più importanti hanno una bassa percentuale di dati mancanti su 1M di righe. </h3>

In [30]:
pd.set_option("display.max_rows", None)

columns = [
    "energy_100g", "energy-kj_100g", "energy-kcal_100g", "proteins_100g",
    "casein_100g", "serum-proteins_100g", "nucleotides_100g", "carbohydrates_100g",
    "sugars_100g", "sucrose_100g", "glucose_100g", "fructose_100g", "lactose_100g",
    "maltose_100g", "maltodextrins_100g", "starch_100g", "polyols_100g", "fat_100g",
    "saturated-fat_100g", "butyric-acid_100g", "caproic-acid_100g", "caprylic-acid_100g",
    "capric-acid_100g", "lauric-acid_100g", "myristic-acid_100g", "palmitic-acid_100g",
    "stearic-acid_100g", "arachidic-acid_100g", "behenic-acid_100g", "lignoceric-acid_100g",
    "cerotic-acid_100g", "montanic-acid_100g", "melissic-acid_100g", "monounsaturated-fat_100g",
    "polyunsaturated-fat_100g", "omega-3-fat_100g", "alpha-linolenic-acid_100g",
    "eicosapentaenoic-acid_100g", "docosahexaenoic-acid_100g", "omega-6-fat_100g",
    "linoleic-acid_100g", "arachidonic-acid_100g", "gamma-linolenic-acid_100g",
    "dihomo-gamma-linolenic-acid_100g", "omega-9-fat_100g", "oleic-acid_100g",
    "elaidic-acid_100g", "gondoic-acid_100g", "mead-acid_100g", "erucic-acid_100g",
    "nervonic-acid_100g", "trans-fat_100g", "cholesterol_100g", "fiber_100g",
    "sodium_100g", "vitamin-a_100g", "vitamin-d_100g", "vitamin-e_100g",
    "vitamin-k_100g", "vitamin-c_100g", "vitamin-b1_100g", "vitamin-b2_100g",
    "vitamin-pp_100g", "vitamin-b6_100g", "vitamin-b9_100g", "vitamin-b12_100g",
    "biotin_100g", "pantothenic-acid_100g", "silica_100g", "bicarbonate_100g",
    "potassium_100g", "chloride_100g", "calcium_100g", "phosphorus_100g",
    "iron_100g", "magnesium_100g", "zinc_100g", "copper_100g", "manganese_100g",
    "fluoride_100g", "selenium_100g", "chromium_100g", "molybdenum_100g",
    "iodine_100g", "caffeine_100g", "taurine_100g"
]


round(df_food[columns].isna().sum()/1000000, 3)

energy_100g                         0.193
energy-kj_100g                      0.972
energy-kcal_100g                    0.194
proteins_100g                       0.199
casein_100g                         1.000
serum-proteins_100g                 1.000
nucleotides_100g                    1.000
carbohydrates_100g                  0.198
sugars_100g                         0.237
sucrose_100g                        1.000
glucose_100g                        0.990
fructose_100g                       0.990
lactose_100g                        0.990
maltose_100g                        1.000
maltodextrins_100g                  1.000
starch_100g                         1.000
polyols_100g                        0.997
fat_100g                            0.201
saturated-fat_100g                  0.263
butyric-acid_100g                   1.000
caproic-acid_100g                   1.000
caprylic-acid_100g                  1.000
capric-acid_100g                    1.000
lauric-acid_100g                    1.000
myristic-acid_100g                  1.000
palmitic-acid_100g                  1.000
stearic-acid_100g                   1.000
arachidic-acid_100g                 1.000
behenic-acid_100g                   1.000
lignoceric-acid_100g                1.000
cerotic-acid_100g                   1.000
montanic-acid_100g                  1.000
melissic-acid_100g                  1.000
monounsaturated-fat_100g            0.946
polyunsaturated-fat_100g            0.947
omega-3-fat_100g                    0.989
alpha-linolenic-acid_100g           1.000
eicosapentaenoic-acid_100g          1.000
docosahexaenoic-acid_100g           1.000
omega-6-fat_100g                    0.990
linoleic-acid_100g                  1.000
arachidonic-acid_100g               1.000
gamma-linolenic-acid_100g           1.000
dihomo-gamma-linolenic-acid_100g    1.000
omega-9-fat_100g                    1.000
oleic-acid_100g                     1.000
elaidic-acid_100g                   1.000
gondoic-acid_100g                   1.000
mead-acid_100g                      1.000
erucic-acid_100g                    1.000
nervonic-acid_100g                  1.000
trans-fat_100g                      0.681
cholesterol_100g                    0.665
fiber_100g                          0.434
sodium_100g                         0.289
vitamin-a_100g                      0.793
vitamin-d_100g                      0.944
vitamin-e_100g                      0.988
vitamin-k_100g                      0.989
vitamin-c_100g                      0.788
vitamin-b1_100g                     0.969
vitamin-b2_100g                     0.969
vitamin-pp_100g                     0.969
vitamin-b6_100g                     0.976
vitamin-b9_100g                     0.981
vitamin-b12_100g                    0.979
biotin_100g                         1.000
pantothenic-acid_100g               0.985
silica_100g                         1.000
bicarbonate_100g                    1.000
potassium_100g                      0.837
chloride_100g                       1.000
calcium_100g                        0.684
phosphorus_100g                     0.978
iron_100g                           0.685
magnesium_100g                      0.977
zinc_100g                           0.980
copper_100g                         0.986
manganese_100g                      0.986
fluoride_100g                       0.990
selenium_100g                       0.987
chromium_100g                       1.000
molybdenum_100g                     1.000
iodine_100g                         0.989
caffeine_100g                       0.989
taurine_100g                        1.000
dtype: float64

In [33]:
columns_principali = [
    "energy-kcal_100g",  # Valore energetico in kcal
    "proteins_100g",     # Proteine
    "carbohydrates_100g",# Carboidrati totali
    "sugars_100g",       # Zuccheri semplici
    "fat_100g",          # Grassi totali
    "saturated-fat_100g",# Grassi saturi
    "fiber_100g",        # Fibre alimentari
    "sodium_100g"        # Sodio
]

round(df_food[columns_principali].isna().sum()/1000000, 3)

energy-kcal_100g      0.194
proteins_100g         0.199
carbohydrates_100g    0.198
sugars_100g           0.237
fat_100g              0.201
saturated-fat_100g    0.263
fiber_100g            0.434
sodium_100g           0.289
dtype: float64

Controlliamo su intero dataset, aggiungendo anche altre colonne fondamentali

In [ ]:
import pandas as pd

pd.set_option("display.max_rows", None)
df_food_len = pd.read_csv("en.openfoodfacts.org.products.csv", sep="\t", nrows=1)

df_food_len.columns.to_series()

code                                                                                                  code
url                                                                                                    url
creator                                                                                            creator
created_t                                                                                        created_t
created_datetime                                                                          created_datetime
last_modified_t                                                                            last_modified_t
last_modified_datetime                                                              last_modified_datetime
last_modified_by                                                                          last_modified_by
last_updated_t                                                                              last_updated_t
last_updated_datetime                                                                last_updated_datetime
product_name                                                                                  product_name
abbreviated_product_name                                                          abbreviated_product_name
generic_name                                                                                  generic_name
quantity                                                                                          quantity
packaging                                                                                        packaging
packaging_tags                                                                              packaging_tags
packaging_en                                                                                  packaging_en
packaging_text                                                                              packaging_text
brands                                                                                              brands
brands_tags                                                                                    brands_tags
categories                                                                                      categories
categories_tags                                                                            categories_tags
categories_en                                                                                categories_en
origins                                                                                            origins
origins_tags                                                                                  origins_tags
origins_en                                                                                      origins_en
manufacturing_places                                                                  manufacturing_places
manufacturing_places_tags                                                        manufacturing_places_tags
labels                                                                                              labels
labels_tags                                                                                    labels_tags
labels_en                                                                                        labels_en
emb_codes                                                                                        emb_codes
emb_codes_tags                                                                              emb_codes_tags
first_packaging_code_geo                                                          first_packaging_code_geo
cities                                                                                              cities
cities_tags                                                                                    cities_tags
purchase_places                                                                            purchase_places
stores                                                                                              stores
countries                                                                                        countries
countries_tags                                                                              countries_tags
countries_en                                                                                  countries_en
ingredients_text                                                                          ingredients_text
ingredients_tags                                                                          ingredients_tags
ingredients_analysis_tags                                                        ingredients_analysis_tags
allergens                                                                                        allergens
allergens_en                                                                                  allergens_en
traces                                                                                              traces
traces_tags                                                                                    traces_tags
traces_en                                                                                        traces_en
serving_size                                                                                  serving_size
serving_quantity                                                                          serving_quantity
no_nutrition_data                                                                        no_nutrition_data
additives_n                                                                                    additives_n
additives                                                                                        additives
additives_tags                                                                              additives_tags
additives_en                                                                                  additives_en
nutriscore_score                                                                          nutriscore_score
nutriscore_grade                                                                          nutriscore_grade
nova_group                                                                                      nova_group
pnns_groups_1                                                                                pnns_groups_1
pnns_groups_2                                                                                pnns_groups_2
food_groups                                                                                    food_groups
food_groups_tags                                                                          food_groups_tags
food_groups_en                                                                              food_groups_en
states                                                                                              states
states_tags                                                                                    states_tags
states_en                                                                                        states_en
brand_owner                                                                                    brand_owner
environmental_score_score                                                        environmental_score_score
environmental_score_grade                                                        environmental_score_grade
nutrient_levels_tags                                                                  nutrient_levels_tags
product_quantity                                                                          product_quantity
owner                                                                                                owner
data_quality_errors_tags                                                          data_quality_errors_tags
unique_scans_n                                                                              unique_scans_n
popularity_tags                                                                            popularity_tags
completeness                                                                                  completeness
last_image_t                                                                                  last_image_t
last_image_datetime                                                                    last_image_datetime
main_category                                                                                main_category
main_category_en                                                                          main_category_en
image_url                                                                                        image_url
image_small_url                                                                            image_small_url
image_ingredients_url                                                                image_ingredients_url
image_ingredients_small_url                                                    image_ingredients_small_url
image_nutrition_url                                                                    image_nutrition_url
image_nutrition_small_url                                                        image_nutrition_small_url
energy-kj_100g                                                                              energy-kj_100g
energy-kcal_100g                                                                          energy-kcal_100g
energy_100g                                                                                    energy_100g
energy-from-fat_100g                                                                  energy-from-fat_100g
fat_100g                                                                                          fat_100g
saturated-fat_100g                                                                      saturated-fat_100g
butyric-acid_100g                                                                        butyric-acid_100g
caproic-acid_100g                                                                        caproic-acid_100g
caprylic-acid_100g                                                                      caprylic-acid_100g
capric-acid_100g                                                                          capric-acid_100g
lauric-acid_100g                                                                          lauric-acid_100g
myristic-acid_100g                                                                      myristic-acid_100g
palmitic-acid_100g                                                                      palmitic-acid_100g
stearic-acid_100g                                                                        stearic-acid_100g
arachidic-acid_100g                                                                    arachidic-acid_100g
behenic-acid_100g                                                                        behenic-acid_100g
lignoceric-acid_100g                                                                  lignoceric-acid_100g
cerotic-acid_100g                                                                        cerotic-acid_100g
montanic-acid_100g                                                                      montanic-acid_100g
melissic-acid_100g                                                                      melissic-acid_100g
unsaturated-fat_100g                                                                  unsaturated-fat_100g
monounsaturated-fat_100g                                                          monounsaturated-fat_100g
omega-9-fat_100g                                                                          omega-9-fat_100g
polyunsaturated-fat_100g                                                          polyunsaturated-fat_100g
omega-3-fat_100g                                                                          omega-3-fat_100g
omega-6-fat_100g                                                                          omega-6-fat_100g
alpha-linolenic-acid_100g                                                        alpha-linolenic-acid_100g
eicosapentaenoic-acid_100g                                                      eicosapentaenoic-acid_100g
docosahexaenoic-acid_100g                                                        docosahexaenoic-acid_100g
linoleic-acid_100g                                                                      linoleic-acid_100g
arachidonic-acid_100g                                                                arachidonic-acid_100g
gamma-linolenic-acid_100g                                                        gamma-linolenic-acid_100g
dihomo-gamma-linolenic-acid_100g                                          dihomo-gamma-linolenic-acid_100g
oleic-acid_100g                                                                            oleic-acid_100g
elaidic-acid_100g                                                                        elaidic-acid_100g
gondoic-acid_100g                                                                        gondoic-acid_100g
mead-acid_100g                                                                              mead-acid_100g
erucic-acid_100g                                                                          erucic-acid_100g
nervonic-acid_100g                                                                      nervonic-acid_100g
trans-fat_100g                                                                              trans-fat_100g
cholesterol_100g                                                                          cholesterol_100g
carbohydrates_100g                                                                      carbohydrates_100g
sugars_100g                                                                                    sugars_100g
added-sugars_100g                                                                        added-sugars_100g
sucrose_100g                                                                                  sucrose_100g
glucose_100g                                                                                  glucose_100g
fructose_100g                                                                                fructose_100g
lactose_100g                                                                                  lactose_100g
maltose_100g                                                                                  maltose_100g
maltodextrins_100g                                                                      maltodextrins_100g
starch_100g                                                                                    starch_100g
polyols_100g                                                                                  polyols_100g
erythritol_100g                                                                            erythritol_100g
fiber_100g                                                                                      fiber_100g
soluble-fiber_100g                                                                      soluble-fiber_100g
insoluble-fiber_100g                                                                  insoluble-fiber_100g
proteins_100g                                                                                proteins_100g
casein_100g                                                                                    casein_100g
serum-proteins_100g                                                                    serum-proteins_100g
nucleotides_100g                                                                          nucleotides_100g
salt_100g                                                                                        salt_100g
added-salt_100g                                                                            added-salt_100g
sodium_100g                                                                                    sodium_100g
alcohol_100g                                                                                  alcohol_100g
vitamin-a_100g                                                                              vitamin-a_100g
beta-carotene_100g                                                                      beta-carotene_100g
vitamin-d_100g                                                                              vitamin-d_100g
vitamin-e_100g                                                                              vitamin-e_100g
vitamin-k_100g                                                                              vitamin-k_100g
vitamin-c_100g                                                                              vitamin-c_100g
vitamin-b1_100g                                                                            vitamin-b1_100g
vitamin-b2_100g                                                                            vitamin-b2_100g
vitamin-pp_100g                                                                            vitamin-pp_100g
vitamin-b6_100g                                                                            vitamin-b6_100g
vitamin-b9_100g                                                                            vitamin-b9_100g
folates_100g                                                                                  folates_100g
vitamin-b12_100g                                                                          vitamin-b12_100g
biotin_100g                                                                                    biotin_100g
pantothenic-acid_100g                                                                pantothenic-acid_100g
silica_100g                                                                                    silica_100g
bicarbonate_100g                                                                          bicarbonate_100g
potassium_100g                                                                              potassium_100g
chloride_100g                                                                                chloride_100g
calcium_100g                                                                                  calcium_100g
phosphorus_100g                                                                            phosphorus_100g
iron_100g                                                                                        iron_100g
magnesium_100g                                                                              magnesium_100g
zinc_100g                                                                                        zinc_100g
copper_100g                                                                                    copper_100g
manganese_100g                                                                              manganese_100g
fluoride_100g                                                                                fluoride_100g
selenium_100g                                                                                selenium_100g
chromium_100g                                                                                chromium_100g
molybdenum_100g                                                                            molybdenum_100g
iodine_100g                                                                                    iodine_100g
caffeine_100g                                                                                caffeine_100g
taurine_100g                                                                                  taurine_100g
ph_100g                                                                                            ph_100g
fruits-vegetables-nuts_100g                                                    fruits-vegetables-nuts_100g

In [ ]:
import pandas as pd

columns_principali = [
    "code",
    "product_name", 
    "categories",
    "countries",
    "ingredients_text",
    "serving_size",
    "nutrition-score-fr_100g",
    "nutrition-score-uk_100g", 
    "energy-kcal_100g",  # Valore energetico in kcal
    "proteins_100g",     # Proteine
    "carbohydrates_100g",# Carboidrati totali
    "sugars_100g",       # Zuccheri semplici
    "fat_100g",          # Grassi totali
    "saturated-fat_100g",# Grassi saturi
    "fiber_100g",        # Fibre alimentari
    "sodium_100g"        # Sodio
]

df_food_len = pd.read_csv("en.openfoodfacts.org.products.csv", sep="\t", usecols=columns_principali)

/tmp/ipykernel_15622/1181011979.py:22: DtypeWarning: Columns (0,88,91,92) have mixed types. Specify dtype option on import or set low_memory=False.
  df_food_len = pd.read_csv("en.openfoodfacts.org.products.csv", sep="\t", usecols=columns_principali)

code                       0.000
product_name               0.238
categories                 2.131
countries                  0.024
ingredients_text           2.660
serving_size               2.720
energy-kcal_100g           1.021
fat_100g                   1.004
saturated-fat_100g         1.139
carbohydrates_100g         1.000
sugars_100g                1.100
fiber_100g                 2.427
proteins_100g              0.999
sodium_100g                1.355
nutrition-score-fr_100g    2.523
nutrition-score-uk_100g    3.759
dtype: float64

In [ ]:
round(df_food_len.isna().sum()/len(df_food_len), 3)

code                       0.000
product_name               0.063
categories                 0.567
countries                  0.006
ingredients_text           0.708
serving_size               0.724
energy-kcal_100g           0.272
fat_100g                   0.267
saturated-fat_100g         0.303
carbohydrates_100g         0.266
sugars_100g                0.293
fiber_100g                 0.646
proteins_100g              0.266
sodium_100g                0.360
nutrition-score-fr_100g    0.671
nutrition-score-uk_100g    1.000
dtype: float64

Come possiamo vedere, le seguenti colonne hanno troppi dati mancanti, quindi possono essere eliminate:

categories, ingredients_text, serving_size, nutrition-score-*

### Zoomato Restaurants Datase

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shrutimehta/zomato-restaurants-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/shrutimehta/zomato-restaurants-data?dataset_version_number=2...

100%|██████████| 5.47M/5.47M [00:00<00:00, 6.90MB/s]

Extracting files...

Path to dataset files: /home/alessio/.cache/kagglehub/datasets/shrutimehta/zomato-restaurants-data/versions/2

In [6]:
df_rest.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [11]:
df_rest['Currency'].nunique()

12

In [12]:
df_rest['Currency'].unique()

array(['Botswana Pula(P)', 'Brazilian Real(R$)', 'Dollar($)',
       'Emirati Diram(AED)', 'Indian Rupees(Rs.)',
       'Indonesian Rupiah(IDR)', 'NewZealand($)', 'Pounds(\x8c£)',
       'Qatari Rial(QR)', 'Rand(R)', 'Sri Lankan Rupee(LKR)',
       'Turkish Lira(TL)'], dtype=object)

#### Read Dataset

In [1]:
import pandas as pd

df_rest = pd.read_csv("./zoomatod_restaurant_dataset/zomato.csv", encoding='latin-1')
df_rest.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

### Unique types of cuisines

In [26]:
df_rest["Cuisines"].str.split(", ").explode("Cuisines").nunique()

145

In [2]:
df_rest.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [3]:
# Clean column names
df_rest.columns = df_rest.columns.str.strip().str.lower().str.replace(' ', '_')

# Display the new column names
print(df_rest.columns)

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='object')

In [4]:
df_rest.to_csv("new_dataset.csv", index=False)

In [6]:
df_country = pd.read_csv("Country-Code.csv")

df_country.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [ ]:
# Clean column names
df_country.columns = df_country.columns.str.strip().str.lower().str.replace(' ', '_')

# Display the new column names
print(df_country.columns)

Index(['country_code', 'country'], dtype='object')

In [8]:
df_country.to_csv("Country-Code.csv", index=False)

#### Create smaller dataset to try to upload it in postgreSQL

In [ ]:
df_rest = df_rest.rename(columns={"Restaurant Name": "Name", "Restaurant ID": "Restaurant_ID"})

In [ ]:
df_rest.isna().sum()

Restaurant_ID    0
Name             0
City             0
Cuisines         9
dtype: int64

In [17]:
df_rest = df_rest.dropna()

df_rest.isna().sum()

Restaurant_ID    0
Name             0
City             0
Cuisines         0
dtype: int64

In [20]:
df_rest.to_csv("new_dataset.csv", index=False)

#### Head

In [12]:
df_rest.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [47]:
len(df_rest[(df_rest['Aggregate rating'] == 0) & (df_rest['Votes'] > 0)])

1054

#### Columns

In [13]:
df_rest.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

#### Missing Data

In [15]:
df_rest.isna().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64